<span *ngIf="initial_flag">
<h1> File Upload </h1>

<!--<input ng2FileSelect type="file" accept=".xml" [uploader]="uploader"/>-->

<input type="file" #file style="display: none" (change)="onFileSelected($event)" accept="text/xml" multiple />
<button type="button" (click)="file.click()"> Pick File </button>
<!--<button type="button" (click)="onUpload()"> Upload </button>-->
<p *ngIf="errorMessage">{{errorMessage}}</p>

<br> <br>
</span>
<!--<textarea rows="15" cols="100" *ngIf="xmlText">{{xmlText}}</textarea>-->
&nbsp; &nbsp; &nbsp;
<!--<button *ngIf="xmlText" style="position: absolute" class="btn btn-outline-success"> Download HTML </button>-->
<div style="font-family: Arial" *ngIf="showContent" id="OuterDiv">
  <br>
  <!--<div class="btn-btn-primary">-->
    <!--<a routerLink="/download-html" class="button"> View HTML </a>-->
  <!--</div>-->
  <!--<img [src]="images"-->
       <!--alt="Place image title"-->
       <!--*ngIf="!isImageLoading; else noImageFound">-->
  <h2 align="center"> {{storyTitle}} </h2>
  <br><br>
  <p> {{introduction}} </p>
  <table style="width: revert">
    <!--<thead>-->
    <!--<tr>-->
      <!--<th> 1 </th>-->
      <!--<th> 2 </th>-->
      <!--<th> 3 </th>-->
    <!--</tr>-->
    <!--</thead>-->
    <tbody>
    <tr *ngFor="let item of scenes; let i = index">
      <td><img [src]="imageRequests[2*i].blob" [width]="250" [height]="250"></td>
      <td>
        <div>{{messages[4*i]}}</div>
        <br>
        <div>{{messages[4*i + 1]}}</div>
        <br>
        <div>{{messages[4*i + 2]}}</div>
        <br>
        <div>{{messages[4*i + 3]}}</div>
        <br>
      </td>
      <td>
        <img style="transform: rotateY(180deg)" [src]="imageRequests[2*i + 1].blob" [width]="250" [height]="250">
      </td>
      <hr>
    </tr>
    </tbody>
  </table>
  <!--<ul style="list-style: none;">-->
    <!--&lt;!&ndash;<p> {{characters}} </p>&ndash;&gt;-->
    <!--<li *ngFor="let item of scenes; let i = index">-->
        <!--&lt;!&ndash;<div id="InnerDiv">&ndash;&gt;-->
       <!--&lt;!&ndash;{{item}}&ndash;&gt;-->
          <!--<div class="leftpane">-->
            <!--<img class="leftimage" [src]="images[2*i]">-->
          <!--</div>-->

       <!--<div class="middlepane">-->
          <!--{{messages[4*i]}}-->
          <!--<br><br>-->
          <!--{{messages[4*i + 1]}}-->
          <!--<br><br>-->
          <!--{{messages[4*i + 2]}}-->
          <!--<br><br>-->
          <!--{{messages[4*i + 3]}}-->
          <!--<br><br>-->
       <!--</div>-->
        <!--<div class="rightpane">-->
          <!--<img class="leftimage" [src]="images[2*i + 1]">-->
        <!--</div>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</li>-->
  <!--</ul>-->

</div>
