<h4> Scene number: {{scene_number}} </h4>
<div id="OuterDiv">

  <div class="leftpane">
    <div *ngIf="data && data.imageRequest1 && data.imageRequest1.blob">
      <img [src]="data.imageRequest1.blob" [width]="200" [height]="300">
    </div>
    <!--<a routerLink="/story-builder" class="button">Previous Scene</a>-->
  </div>
  <div class="middlepane">
    <p>{{data.markov_dialog_1}}</p>
    <br>
    <textarea [(ngModel)]="data.user_entered_dialogue1" class="textArea" id="textArea1" rows="4" cols="55"
              placeholder="Enter first dialogue"></textarea>
    <br>
    <p>{{data.markov_dialog_2}}</p>
    <br>
    <textarea [(ngModel)]="data.user_entered_dialogue2" class="textArea" id="textArea2" rows="4" cols="55"
              placeholder="Enter second dialogue"></textarea>

    <br><br><br><br><br><br><br>
    <div align="center">
      <a *ngIf="prevButtonFlag" style="padding-right: 5px" routerLink="/story-builder" class="btn btn-primary" (click)="prevClicked()">Previous</a>
      <a routerLink="/final-story" class="btn btn-primary" (click)="completeStory()">Complete Story</a>
      <a routerLink="/story-builder" class="btn btn-primary" (click)="nextClicked()"> Next </a>
    </div>
  </div>
  <div class="rightpane">

    <div *ngIf="data && data.imageRequest2 && data.imageRequest2.blob">
      <img [src]="data.imageRequest2.blob" [width]="200" [height]="300">
    </div>
    <!--<a routerLink="/story-builder" class="button">Add scene</a>-->
  </div>
</div>
