
<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li [class.HomeBg]="HomeBg" (click)="HomeClick()"><a routerLink="/">Home</a></li>
        <li [class.IntroBg]="IntroBg" (click)="IntoClick()"><a routerLink="/introduction">Introduction</a></li>
        <li [class.StoryBg]="StoryBg" (click)="StoryClick()"><a routerLink="/story-builder">Story Builder</a></li>
        <li [class.FinalBg]="FinalBg" (click)="FinalClick()"><a routerLink="/final-story">Final Story</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>

