.example-radio-group {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*margin: 5px 0;*/
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


#next_button {
  color: azure;
}
#prev_button{
  color: azure;
}
#complete_button{
  color: azure;
}

.card {
  /* Add shadows to create the "card" effect */
  padding-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.button {
  position: relative;
  text-color: white;
}


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
  display: inline-block;
  }

  /*display: flex;*/
  /*align-content: center;*/
  /*align-items: center;*/
  /*height: 60px;*/
}

.example-margin {
  margin: 0 10px;
}

#prevButton{

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


#OuterDiv2{
  border: 1px solid black;
  /*background: azure;*/
  width: 100%;
  height: auto;
  flex-grow: 1;
  /*font-family: 'Montserrat';*/
  font-size: 16px;
  padding: 20px;
  position: relative;
}


#OuterDiv1{
  border: 1px solid black;
  background: azure;
  width: 100%;
  height: 550px;
  font-family: 'Montserrat';
  font-family: 'Montserrat';
  font-size: 16px;
}

.leftpane {
  width: 22%;
  height: 100%;
  float: left;
  border-right: 1px solid black;
//background-color: rosybrown;
//border-collapse: collapse;
}

.middlepane {
  padding-left: 10px;
  align-content: center;
  width: 55%;
  height: 100%;
  float: left;
  border-right: 1px solid black;
//background-color: royalblue;
  border-collapse: collapse;
}

.rightpane {
  width: auto;
  height: 100%;
  position: relative;
  float: right;
//border: 1px solid black;
//background-color: yellow;
  border-collapse: collapse;
}

.leftimage{
  padding-left: 10px;
  padding-top: 10pt;
  border:1px solid black;
  width: 240px;
  height: 300px;
//float: center;
}

.textArea{
  align-self: center;
  font-family: Montserrat;
  font-size: 16px;
  padding-left: 5px;
  outline: cadetblue;
}


.StoryButton {
  padding-left: 10px;
  background-color: #7700FF;
  color: aliceblue;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  bottom: 0;

&:hover {
   background: #8E2BFF;
 }
}


